/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url("../images/cover-image-dark.png");
  --header-menu-color:rgb(255, 0, 112);
  --accent-color:rgb(255, 0, 112);
  --accent-color-transparent:rgb(255, 0, 112, .4);
  --heading-color:#db00ff;
  --paragraph-heading-color:#000028;
  --paragraph-text-color:#f1b2ce;
}

