/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --accent-color-transparent:rgb(255, 0, 112, .4);
  --heading-color:#FFC2E6;
  --paragraph-heading-color:#353430;
  --paragraph-text-color:#353430;
}

.theme-light .rec-decoration {
  display: none;
}


@media (prefers-color-scheme:light) {
  :root {
  --bg-image: url("../images/cover-image-light.png");
  --accent-color-transparent:rgb(255, 0, 112, .4);
  --accent-color: rgb(255, 141, 203, .4);
  --heading-color:#FFC2E6;
  --paragraph-heading-color:#353430;
  --paragraph-text-color:#353430;
  }
  .rec-decoration {
    visibility: hidden;
  }
  

}

